body {
    #numberLabel {
        font-size: 100px;
        font-family: Times 'Times New Roman', Times, serif;
        text-align: center;
}

    button {
        font-size: 20px;
        text-align: center;
        padding: 20px 40px;
        background-color:goldenrod;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2
    }
    button:hover {
        background-color: orange;
    }
    
    h3 {
        font-family: Arial;
    }
}
